tgcrypto
ffmpeg-python
py-tgcalls==0.9.7
pyrogram==1.4.16
git+https://github.com/yt-dlp/yt-dlp
youtube-search-python
youtube-search
python-dotenv
dnspython
gitpython
asgiref
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
speedtest-cli
pymongo
